/*
 * @Description: 血压信息样式
 * @Author: hairyOwl
 * @Date: 2022-02-27 21:26:00
 * @LastEditors: hairyOwl
 * @LastEditTime: 2022-03-03 20:45:45
 */
.search{
    width: 300px;
}

.count{
    font-size:  16px;
    margin: 0 10px;
    font-weight: 700; //加粗
}

