/*
 * @Description: 用户管理样式
 * @Author: hairyOwl
 * @Date: 2022-03-06 22:35:45
 * @LastEditors: hairyOwl
 * @LastEditTime: 2022-03-07 23:17:40
 */
.search{
    display: flex;
    align-items: center; //垂直居中

    a{
        width: 60px;
        margin-left: 16px;
    }
}